---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Tesla Clone">
	<Header />
	
	<main class="relative w-full h-screen overflow-auto">
		<Hero />
		<Hero />
		<Hero />
		<Hero />
		<Hero />
	</main>
</Layout>