---
import Layout from '../layouts/Layout.astro';
import Logo from '../components/Logo.astro';
---

<Layout title="Tesla Clone">
	<main>
		<header 
			class="py-3 px-10 flex items-center fixed top-0 w-full justify-between z-40 text-white"
		>
			<div class="flex flex-grow basis-0">
				<Logo />
			</div>
			<nav>
				<ul class="flex text-sm [&>li>a]:text-white [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
					<li><a href="#">Model S</a></li>
					<li><a href="#">Model 3</a></li>
					<li><a href="#">Model X</a></li>
					<li><a href="#">Model Y</a></li>
					<li><a href="#">Powerwall</a></li>
					<li><a href="#">Carga</a></li>
				</ul>
			</nav>

			<nav class="flex flex-grow basis-0 justify-end">
				<ul class="flex text-sm [&>li>a]:text-white [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
					<li><a href="#">Soporte</a></li>
					<li><a href="#">Tienda</a></li>
					<li><a href="#">Cuenta</a></li>
					<li><a href="#">Menú</a></li>
				</ul>
			</nav>
		</header>

		<section
			class="bg-black h-screen w-screen text-center overflow-hidden relative"
		>
			<div class="z-30 relative h-full flex flex-col">
				<header class="">
					<h2 class="text-white pt-40 text-[40px] font-medium">Disfrute de Tesla</h2>
					<p class="text-white text-sm">Programe una prueba de conducción hoy mismo</p>	
				</header>
	
				<footer class="flex flex-col flex-grow justify-end pb-24">
					<div>
						<a 
							class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors" 
							href="#"
						>
							Prueba de conducción
						</a>
					</div>
				</footer>
			</div>
			

			<div class="absolute top-0 bottom-0 h-full w-full z-10">
				<video 
					class="object-center object-cover h-full w-full"
					autoplay muted loop src="/public/video.webm"></video>
			</div>
		</section>
	</main>
</Layout>