<section
  class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
  data-header-color="black"
>
  <div class="z-30 relative h-full flex flex-col">
    <header class="">
      <h2 class="text-black pt-40 text-[40px] font-medium">Model Y</h2>
      <p 
        class="text-black text-sm underline"
      >
        Concertar una prueba de conducción
      </p>
    </header>

    <footer class="flex flex-col flex-grow justify-end pb-24">
      <div class="flex gap-x-4 justify-center items-center">
        <a 
          class="border-[3px] border-gray-600 bg-gray-600 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-gray-500 hover:border-gray-500 hover:text-black transition-colors" 
          href="#"
        >
          Explorar inventario
        </a>

        <a 
          class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors" 
          href="#"
        >
          Pedido personalizado
        </a>
      </div>
    </footer>
  </div>


  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img 
      src="/public/model-y.webp"
      alt="Model Y"
      class="object-center object-cover h-full w-full"
    ></img>
  </div>
</section>